.form__container {
  display: grid;
  grid-template-columns: repeat(1fr, auto);
  grid-template-rows: repeat(1fr, auto);
  align-items: center;
  text-align: left;
  width: 600px;
  height: 300px;
  position: relative;
  margin: auto;
}

.form__list {
  font-size: 2rem;
  list-style: none;
}
