.form__container {
  display: grid;
  grid-template-columns: repeat(1fr, auto);
  grid-template-rows: repeat(1fr, auto);
  align-items: center;
  text-align: left;
  width: 600px;
  height: 300px;
  position: relative;
  margin: auto;
}

.form__list {
  font-size: 2rem;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.btn__container {
  display: flex;
  gap: 0.4rem;
}

.btn__tasks {
  border: none;
  border-radius: 8px;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  font-size: 1rem;
}
