.container {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-form__container {
  margin-top: 2rem;
}

.todo-form__input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.6rem;
  gap: 0.6rem;
}

.add-todo__heading {
  font-size: 4rem;
}
